// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
@font-face {
    font-family: 'SF Pro Display';
    src: url('/assets/fonts/SFProDisplay-Bold.eot');
    src: url('/assets/fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('/assets/fonts/SFProDisplay-Bold.woff') format('woff'),
        url('/assets/fonts/SFProDisplay-Bold.ttf') format('truetype'),
        url('/assets/fonts/SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/assets/fonts/SFProText-Bold.eot');
    src: url('/assets/fonts/SFProText-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SFProText-Bold.woff2') format('woff2'),
        url('/assets/fonts/SFProText-Bold.woff') format('woff'),
        url('/assets/fonts/SFProText-Bold.ttf') format('truetype'),
        url('/assets/fonts/SFProText-Bold.svg#SFProText-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/assets/fonts/SFProText-Regular.eot');
    src: url('/assets/fonts/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SFProText-Regular.woff2') format('woff2'),
        url('/assets/fonts/SFProText-Regular.woff') format('woff'),
        url('/assets/fonts/SFProText-Regular.ttf') format('truetype'),
        url('/assets/fonts/SFProText-Regular.svg#SFProText-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/assets/fonts/SFProText-Light.eot');
    src: url('/assets/fonts/SFProText-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SFProText-Light.woff2') format('woff2'),
        url('/assets/fonts/SFProText-Light.woff') format('woff'),
        url('/assets/fonts/SFProText-Light.ttf') format('truetype'),
        url('/assets/fonts/SFProText-Light.svg#SFProText-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

